#admin-edit-language-modal{
	display: none;
	position: fixed;
	background-color: white;
	padding: 20px;
	z-index: 1997;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
	min-width: 200px;
	max-height: 300px;
	overflow: auto;
}
#admin-edit-language-modal a{
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #EAEAEA
}